.pembayaran-sukses .ellipse-3 {
  border-radius: 20px;
  background: url('../assets/images/ellipse_3.png') 50% / cover no-repeat;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.pembayaran-sukses .paijo-bejo {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
.pembayaran-sukses .frame-10 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.pembayaran-sukses .where-are-you-going-today {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 8px;
  color: #FFFFFF;
}
.pembayaran-sukses .frame-11 {
  display: flex;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-12 {
  margin: 3.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.pembayaran-sukses .vector-2 {
  width: 14.5px;
  height: 18.4px;
}
.pembayaran-sukses .material-symbols-lightnotifications-unread-outline-rounded {
  margin: 1px 0 0.6px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.pembayaran-sukses .group-1 {
  width: 20px;
  height: 20px;
}
.pembayaran-sukses .iconoirlanguage {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-14 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64px;
  height: fit-content;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-143 {
  background: #2F778D;
  margin-bottom: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 18px 8px 16px;
  width: 100%;
  box-sizing: border-box;
}
.pembayaran-sukses .group {
  width: 141.8px;
  height: 141.8px;
}
.pembayaran-sukses .marketeqmobile-payment-done-2 {
  margin: 0 0 38.6px 0.8px;
  display: flex;
  width: 189px;
  height: 189px;
  box-sizing: border-box;
}
.pembayaran-sukses .transaksi-sukses {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23px;
  color: #000000;
}
.pembayaran-sukses .frame-140 {
  margin: 0 0.8px 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.pembayaran-sukses .cetak {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 80px;
}
.pembayaran-sukses .frame-73 {
  border-radius: 8px;
  background: #224551;
  margin-bottom: 15px;
  display: flex;
  padding: 10px 0.7px 10px 0;
  width: 202px;
  box-sizing: border-box;
}
.pembayaran-sukses .kembali {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 75px;
}
.pembayaran-sukses .frame-74 {
  border-radius: 8px;
  background: #224551;
  display: flex;
  padding: 10px 0.7px 10px 0;
  width: 202px;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-141 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 202px;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-142 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  margin: 0 25px 74px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83.6px 0 60px 0;
  width: calc(100% - 51px);
  box-sizing: border-box;
}
.pembayaran-sukses .vector-5 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 36px;
  height: 32px;
}
.pembayaran-sukses .frame-401 {
  position: relative;
  margin-bottom: 3px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.pembayaran-sukses .home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 20px;
}
.pembayaran-sukses .frame-42 {
  margin: 0 1.5px 0 1px;
  display: flex;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-40 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pembayaran-sukses .vector-6 {
  width: 30px;
  height: 30px;
}
.pembayaran-sukses .material-symbolshistory {
  margin: 0 5.3px 4px 5.5px;
  display: flex;
  width: 44px;
  height: 30px;
  box-sizing: border-box;
  margin-right: 20px;
}
.pembayaran-sukses .history {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-right: 20px;
}
.pembayaran-sukses .frame-44 {
  display: flex;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-45 {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-144 {
  background: #46A6C5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5px 0 11.5px 0;
  width: 100%;
  box-sizing: border-box;
}
.pembayaran-sukses .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.pembayaran-sukses .vector-7 {
  width: 32px;
  height: 32px;
}
.pembayaran-sukses .frame-39 {
  border-radius: 16px;
  background: #224551;
  display: flex;
  padding: 14px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.pembayaran-sukses .frame-145 {
  border-radius: 16px;
  background: #FFFFFF;
  position: absolute;
  left: 156px;
  bottom: 16px;
  display: flex;
  padding: 8px;
  width: 76px;
  height: 76px;
  box-sizing: border-box;
}
.pembayaran-sukses {
  background: #FFFFFF;
  box-sizing: border-box;
}/* iPhone 13 Pro Max frame styling */
