.rute .ellipse-3 {
  border-radius: 20px;
  background: url('../assets/images/ellipse_3.png') 50% / cover no-repeat;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.rute .paijo-bejo {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
.rute .frame-10 {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.rute .where-are-you-going-today {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 8px;
  color: #FFFFFF;
}
.rute .frame-11 {
  display: flex;
  box-sizing: border-box;
}
.rute .frame-12 {
  margin: 3.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.rute .frame-13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.rute .vector {
  width: 14.5px;
  height: 18.4px;
}
.rute .material-symbols-lightnotifications-unread-outline-rounded {
  margin: 1px 0 0.6px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.rute .group {
  width: 20px;
  height: 20px;
}
.rute .iconoirlanguage {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.rute .frame-14 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64px;
  height: fit-content;
  box-sizing: border-box;
}
.rute .frame-66 {
  background: #2F778D;
  margin-bottom: 27.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 18px 8px 16px;
  width: 100%;
  box-sizing: border-box;
}
.rute .vector-3 {
  width: 17px;
  height: 15.2px;
}
.rute .fi-sr-arrow-small-left {
  margin: 2.9px 12.1px 2.9px 0;
  display: flex;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}
.rute .rute-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.rute .frame-65 {
  margin: 0 22.9px 11.5px 22.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.rute .rectangle-131 {
  border-radius: 8px;
  background: url('../assets/images/rectangle_13.png') 50% / cover no-repeat;
  width: 360px;
  height: 551px;
}
.rute .rectangle-13 {
  margin: 0 17px 21px 16px;
  display: flex;
  width: 360px;
  height: 551px;
  box-sizing: border-box;
}
.rute .batal {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 75px;
}
.rute .frame-64 {
  border-radius: 8px;
  background: #C5323B;
  margin-right: 6px;
  display: flex;
  padding: 10px 0.4px 10px 0;
  flex-grow: 1;
  flex-basis: 177px;
  box-sizing: border-box;
}
.rute .parkir-sekarang {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 45px;
}
.rute .frame-63 {
  border-radius: 8px;
  background: #224551;
  display: flex;
  padding: 10px 0.4px 10px 0;
  flex-grow: 1;
  flex-basis: 177px;
  box-sizing: border-box;

}
.rute .frame-651 {
  margin: 0 17px 57px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 33px);
  box-sizing: border-box;

}
.rute .vector-4 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 36px;
  height: 32px;
}
.rute .frame-40 {
  position: relative;
  margin-bottom: 3px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.rute .home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 20px;
}
.rute .frame-42 {
  margin: 0 1.5px 0 1px;
  display: flex;
  box-sizing: border-box;
}
.rute .frame-43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.rute .vector-5 {
  width: 30px;
  height: 30px;
}
.rute .material-symbolshistory {
  margin: 0 5.3px 4px 5.5px;
  display: flex;
  width: 44px;
  height: 30px;
  box-sizing: border-box;
  margin-right: 20px;
}
.rute .history {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-right: 20px;
}
.rute .frame-44 {
  display: flex;
  box-sizing: border-box;
}
.rute .frame-45 {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.rute .frame-67 {
  background: #46A6C5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5px 0 11.5px 0;
  width: 100%;
  box-sizing: border-box;
}
.rute .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.rute .vector-6 {
  width: 32px;
  height: 32px;
}
.rute .frame-39 {
  border-radius: 16px;
  background: #224551;
  display: flex;
  padding: 14px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.rute .frame-68 {
  border-radius: 16px;
  background: #FFFFFF;
  position: absolute;
  left: 160px;
  bottom: 16px;
  display: flex;
  padding: 8px;
  width: 76px;
  height: 76px;
  box-sizing: border-box;
}
.rute {
  background: #FFFFFF;
  display: flex;
  box-sizing: border-box;
}